* {
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    -moz-user-select: none;
    -webkit-user-select: none
}

a,
img {
    border: 0;
}

::-moz-focus-inner {
    border: 0px;
}

ul,
ul li,
ol li,
li {
    list-style: none;
}

a,
img,
input,
textarea {
    border: none;
}

a {
    text-decoration: none;
    color: #111
}

div.xf_input {
    background-color: #F9F9F9;
    margin: 15px 50px 5px 50px;
    font-family: "Microsoft Yahei", verdana;
    font-size: 12px;
    padding-bottom: 15px;

    border: 1px solid #ccc;
    width: 90%;

    overflow: hidden;
    float: left;
    min-width: 1000px;
}

h4.xf_input_h4 {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGBAMAAAD9IJlFAAAAJ1BMVEUAAACAgIBqcHVqcHVuc3ltcHhtcnducXhtcnhtcXhtcndtcndtcnh84727AAAADHRSTlMAADAxX2COkN7f7u/sMiwUAAAAH0lEQVQIHWMAgyIGoQQGTQULBQamLYsYGBhiAhjAAAA1JQOK8B+6tAAAAABJRU5ErkJggg==") no-repeat 5px;
    background-color: #E9E9E9;
    width: 100%;
    text-indent: 15px;
    line-height: 34px;
    margin-bottom: 10px;
}

div.xf_input ul {
    padding: 7px 0 10px 0;
}

div.xf_input li {
    margin: 5px 0 0 10px;
    line-height: 32px;
    padding-bottom: 10px;
    border-bottom: 1px transparent solid;
    border-image: linear-gradient(to right, #f6f6f6, #ddd, #f6f6f6) 1 10;
}

div.xf_input li span {
    text-align: right;
    width: 160px;
    float: left;
    color: #757575;
}

div.xf_input li span.xf_ser {
    float: none;
    margin-left: 2px;
}



div.xf_input li select {
    width: 125px;
    padding: 3px;
    height: 30px;
    transition: all 0.5s ease 0s;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.666;
    border: 1px solid rgb(187, 187, 187);
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 2px inset;

}

div.xf_input li input {
    width: 280px;
    padding: 3px 8px;
    height: 20px;
    transition: all 0.5s ease 0s;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.666;
    border: 1px solid rgb(187, 187, 187);
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 2px inset;
    margin-right: 9px;

}

input[type=date] {
    width: 100px !important;
}

div.xf_input li input:disabled {
    background-color: #ddd;
}

div.xf_input li b {
    color: #f00;
    padding-left: 2px;
    font-weight: normal;
}


xfupload {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAcCAAAAACy+EUkAAAAM0lEQVRIx2P8x0B7wEQHOxhY/o9aMjLj5N9oxI9aMpq6Ri0ZtWSYJ+HRhsQgtIRxuPgEANW3GE3csk9lAAAAAElFTkSuQmCC") repeat-x;
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    line-height: 26px;
    padding: 0px 13px 0px 10px;
    position: relative;
    font-size: 12px;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(85, 85, 85);
    cursor: pointer;
    zoom: 1;
    outline: 0px
}

xfupload_fix {
    width: 221px;
    float: left;
    height: 30px;
    overflow: hidden;
}

xf_fix {
    width: 160px;
    float: left;
    height: 30px;
    overflow: hidden;
}